<hr />
<p><strong>See product photos for details.</strong></p>
<p>Any questions? <a href="/contact" target="_blank" title="Contact Aaron and Lindsay">Just ask</a>. I've made and sold hundreds of these, they are a dream to make <em>and</em> use.</p>
<hr  />
<p>Unless mentioned otherwise any accessories shown in photos are not included with your purchase. See details above for what is included with your purchase.</p>

<p>Orders ship on Tuesdays via USPS. The cutoff is Monday at midnight (12:00 AM ET). If you order after the cutoff, your order ships the following Tuesday. See <a href="/shipping" target="_blank" title="Shipping & Return Info">Shipping & Returns</a> for more details.</p>